*{
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
}

.total-content {
    height: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkred;
    
}

.hideNumDiv {
    height: 50px;
}

#timedDisplay {
    margin: 0;
}